/* variables a ser usadas  */
:root {
    --primary: #6d1491;
    --secundary: #2e4469;
    --background: #35495e;
    --black-text: rgb(61, 61, 61);
    --white-text: #ffffff;
    --blue-gradient: linear-gradient(90deg, #42b983, #35495e);
    --button-hover: #665DE3;
    --text-shadow: .2rem .2rem .2rem #0d0d0e;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/*Inicio del navbar*/
nav {
    background-color: var(--primary);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* header h1 {
    color: var(--white-text);
    font-size: 2rem;
    letter-spacing: .7rem;
} */

nav ul {
    display: flex;
    align-self: center;
}
nav ul a img {
    width: 100px;
    padding-top: 12px;
}

nav ul li {
    line-height: 100px;
    vertical-align: middle;
}

nav ul li a {
    color: var(--white-text);
    font-size: 1.2rem;
    padding: .8rem 1rem;
    text-transform: uppercase;
}

nav ul li a:hover {
    background-color: var(--button-hover);
    transition: all .3s;
    border-bottom: solid .2rem var(--secundary);
}

.drawer {
    font-size: 1rem;
    color: var(--white-text);
    float: left;
    cursor: pointer;
    display: none;
    margin-left: 1rem;
    border: solid 1.5px var(--white-text);
    padding: .2rem;
    border-radius: .1rem;
}

#ckbox {
    display: none;
}

/*Contenido MAIN*/
h1, h2{
    text-align: center;
}

.container{
    background: url(../img/fondo.jpg);
}




/* media query */

@media (max-width:1039px) {
    nav {
        justify-content: flex-start;
    }

    .drawer {
        display: block;
    }

    ul {
        position: fixed;
        width: 50%;
        height: 100vh;
        background-color: var(--background);
        top: 10vh;
        left: -100%;
        text-align: left;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        align-content: stretch;
    }

    nav ul li {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        border-bottom: solid .1rem rgba(201, 196, 196, 0.4);
    }
    nav ul a img {
        width:50%;
        display: flex;
        padding-left: 1rem;
    }

    #ckbox:checked~.menu-box {
        left: 0;
    }
}